<a href="/articles">Back to all articles</a>

<ul>
  <li><%= article.title %></li>
  <li><%= article.author %></li>
  <li><%= article.categories %></li>
  <li>Last updated: <%= article.date %></li>
  <li class="article-content"><%= article.body %></li>
</ul>
<a href="/articles/<%= article._id %>/edit">edit</a>
